nandreader/ftdinandreader/_bank_1-noOOB.bin.extracted/squashfs-root/archive/ZW5QAA10.5ZW/active/WWW/include/lp/TIWLS_backup_schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:agcfg="http://www.telecomitalia.it/agconfig_agplus-m5" targetNamespace="http://www.telecomitalia.it/agconfig_agplus-m5" elementFormDefault="qualified" id="NewDataSet">
  <xs:include schemaLocation="datatypes.xsd"/>
  <xs:element name="Device">
    <xs:annotation>
      <xs:documentation>ROOT</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DeviceInfo">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="agcfg:simple_object">
                <xs:sequence>
                  <xs:element name="ModelName" type="agcfg:string64"/>
                  <xs:element name="X_TELECOMITALIA_IT_ProfileName" type="agcfg:string"/>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="UserInterface">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="agcfg:simple_object">
                <xs:sequence>
                  <xs:element name="PasswordRequired" type="agcfg:boolean"/>
                  <xs:element name="X_TELECOMITALIA_IT_LedLowConsumptionEnable" type="agcfg:boolean"/>
                  <xs:element name="X_TELECOMITALIA_IT_WebPage">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:simple_object">
                          <xs:sequence>
                            <xs:element name="Profile" type="agcfg:string32"/>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="USB">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="agcfg:simple_object">
                <xs:sequence>
                  <xs:element name="USBHosts">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:simple_object">
                          <xs:sequence>
                            <xs:element name="X_TELECOMITALIA_IT_USBService" type="agcfg:string16"/>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="PPP">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="agcfg:simple_object">
                <xs:sequence>
                  <xs:element name="Interface" minOccurs="0" maxOccurs="unbounded" id="i">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:istance_object">
                          <xs:sequence>
                            <xs:element name="Name" type="agcfg:string64"/>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="IP">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="agcfg:simple_object">
                <xs:sequence>
                  <xs:element name="Interface" minOccurs="0" maxOccurs="unbounded" id="i">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:istance_object">
                          <xs:sequence>
                            <xs:element name="IPv4Address" minOccurs="0" maxOccurs="unbounded" id="i">
                              <xs:complexType>
                                <xs:complexContent>
                                  <xs:extension base="agcfg:istance_object">
                                    <xs:sequence>
                                      <xs:element name="IPAddress" type="agcfg:string"/>
                                      <xs:element name="SubnetMask" type="agcfg:string"/>
                                    </xs:sequence>
                                  </xs:extension>
                                </xs:complexContent>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="LANConfigSecurity">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="agcfg:simple_object">
                <xs:sequence>
                  <xs:element name="ConfigPassword" type="agcfg:string64"/>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Hosts">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="agcfg:simple_object">
                <xs:sequence>
                  <xs:element name="HostNumberOfEntries" type="agcfg:unsignedInt"/>
                  <xs:element name="Host" minOccurs="0" maxOccurs="unbounded" id="i">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:istance_object">
                          <xs:sequence>
                            <xs:element name="PhysAddress" type="agcfg:string64"/>
                            <xs:element name="IPAddress" type="agcfg:string45"/>
                            <xs:element name="HostName" type="agcfg:string64"/>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="NAT">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="agcfg:simple_object">
                <xs:sequence>
                  <xs:element name="PortMappingNumberOfEntries" type="agcfg:unsignedInt"/>
                  <xs:element name="X_TELECOMITALIA_IT_DynamicDNSNumberOfEntries" type="agcfg:unsignedInt"/>
                  <xs:element name="X_TELECOMITALIA_IT_URLFilteringNumberOfEntries" type="agcfg:unsignedInt"/>
                  <xs:element name="InterfaceSetting" minOccurs="0" maxOccurs="unbounded" id="i">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:istance_object">
                          <xs:sequence>
                            <xs:element name="Enable" type="agcfg:boolean"/>
                            <xs:element name="X_TELECOMITALIA_IT_NATStartIPAddress" type="agcfg:string"/>
                            <xs:element name="X_TELECOMITALIA_IT_NATEndIPAddress" type="agcfg:string"/>
                            <xs:element name="X_TELECOMITALIA_IT_NATExcludedInternalIPAddresses" type="agcfg:string"/>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="PortMapping" minOccurs="0" maxOccurs="unbounded" id="i">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:istance_object">
                          <xs:sequence>
                            <xs:element name="Enable" type="agcfg:boolean"/>
                            <xs:element name="Interface" type="agcfg:string256"/>
                            <xs:element name="AllInterfaces" type="agcfg:boolean"/>
                            <xs:element name="LeaseDuration" type="agcfg:unsignedInt"/>
                            <xs:element name="RemoteHost" type="agcfg:string"/>
                            <xs:element name="ExternalPort" type="agcfg:string"/>
                            <xs:element name="InternalPort" type="agcfg:string"/>
                            <xs:element name="Protocol" type="agcfg:string"/>
                            <xs:element name="InternalClient" type="agcfg:string256"/>
                            <xs:element name="Description" type="agcfg:string256"/>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="X_TELECOMITALIA_IT_DynamicDNS" minOccurs="0" maxOccurs="unbounded" id="i">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:istance_object">
                          <xs:sequence>
                            <xs:element name="Enable" type="agcfg:boolean"/>
                            <xs:element name="Status" type="agcfg:string"/>
                            <xs:element name="Interface" type="agcfg:string256"/>
                            <xs:element name="Domain" type="agcfg:string256"/>
                            <xs:element name="Provider" type="agcfg:string"/>
                            <xs:element name="Username" type="agcfg:string256"/>
                            <xs:element name="Password" type="agcfg:string256"/>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="X_TELECOMITALIA_IT_URLFiltering" minOccurs="0" maxOccurs="unbounded" id="i">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:istance_object">
                          <xs:sequence>
                            <xs:element name="Enable" type="agcfg:boolean"/>
                            <xs:element name="Interface" type="agcfg:string256"/>
                            <xs:element name="FilteredURLs" type="agcfg:string10k"/>
                            <xs:element name="FilteredURLsExclude" type="agcfg:boolean"/>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="DHCPv4">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="agcfg:simple_object">
                <xs:sequence>
                  <xs:element name="Server">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:simple_object">
                          <xs:sequence>
                            <xs:element name="Enable" type="agcfg:boolean"/>
                            <xs:element name="Pool" minOccurs="0" maxOccurs="unbounded" id="i">
                              <xs:complexType>
                                <xs:complexContent>
                                  <xs:extension base="agcfg:istance_object">
                                    <xs:sequence>
                                      <xs:element name="Enable" type="agcfg:boolean"/>
                                      <xs:element name="Interface" type="agcfg:string256"/>
                                      <xs:element name="MinAddress" type="agcfg:string"/>
                                      <xs:element name="MaxAddress" type="agcfg:string"/>
                                      <xs:element name="ReservedAddresses" type="agcfg:string"/>
                                      <xs:element name="SubnetMask" type="agcfg:string"/>
                                      <xs:element name="DomainName" type="agcfg:string64"/>
                                      <xs:element name="IPRouters" type="agcfg:string"/>
                                      <xs:element name="StaticAddressNumberOfEntries" type="agcfg:unsignedInt"/>
                                      <xs:element name="StaticAddress" minOccurs="0" maxOccurs="unbounded" id="i">
                                        <xs:complexType>
                                          <xs:complexContent>
                                            <xs:extension base="agcfg:istance_object">
                                              <xs:sequence>
                                                <xs:element name="Enable" type="agcfg:boolean"/>
                                                <xs:element name="Chaddr" type="agcfg:string"/>
                                                <xs:element name="Yiaddr" type="agcfg:string"/>
                                              </xs:sequence>
                                            </xs:extension>
                                          </xs:complexContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:extension>
                                </xs:complexContent>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Users">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="agcfg:simple_object">
                <xs:sequence>
                  <xs:element name="UserNumberOfEntries" type="agcfg:unsignedInt"/>
                  <xs:element name="User" minOccurs="0" maxOccurs="unbounded" id="i">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:istance_object">
                          <xs:sequence>
                            <xs:element name="Enable" type="agcfg:boolean"/>
                            <xs:element name="RemoteAccessCapable" type="agcfg:boolean"/>
                            <xs:element name="Username" type="agcfg:string64"/>
                            <xs:element name="Password" type="agcfg:string64"/>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="UPnP">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="agcfg:simple_object">
                <xs:sequence>
                  <xs:element name="Device">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:simple_object">
                          <xs:sequence>
                            <xs:element name="Enable" type="agcfg:boolean"/>
                            <xs:element name="UPnPMediaServer" type="agcfg:boolean"/>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Firewall">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="agcfg:simple_object">
                <xs:sequence>
                  <xs:element name="Config" type="agcfg:string"/>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="WiFi">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="agcfg:simple_object">
                <xs:sequence>
                  <xs:element name="Radio" minOccurs="0" maxOccurs="unbounded" id="i">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:istance_object">
                          <xs:sequence>
                            <xs:element name="Enable" type="agcfg:boolean"/>
                            <xs:element name="OperatingStandards" type="agcfg:string"/>
                            <xs:element name="Channel" type="agcfg:unsignedInt1_255"/>
                            <xs:element name="AutoChannelEnable" type="agcfg:boolean"/>
                            <xs:element name="AutoChannelRefreshPeriod" type="agcfg:unsignedInt"/>
                            <xs:element name="X_TELECOMITALIA_IT_ChannelRefresh" type="agcfg:boolean"/>
                            <xs:element name="OperatingChannelBandwidth" type="agcfg:string"/>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="SSID" minOccurs="0" maxOccurs="unbounded" id="i">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:istance_object">
                          <xs:sequence>
                            <xs:element name="Enable" type="agcfg:boolean"/>
                            <xs:element name="SSID" type="agcfg:string32"/>
                            <xs:element name="X_TELECOMITALIA_IT_MACAddressControlEnabled" type="agcfg:boolean"/>
                            <xs:element name="X_TELECOMITALIA_IT_AllowedMACAddresses" type="agcfg:string256"/>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="AccessPoint" minOccurs="0" maxOccurs="unbounded" id="i">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:istance_object">
                          <xs:sequence>
                            <xs:element name="Enable" type="agcfg:boolean"/>
                            <xs:element name="SSIDAdvertisementEnabled" type="agcfg:boolean"/>
                            <xs:element name="WMMEnable" type="agcfg:boolean"/>
                            <xs:element name="X_TELECOMITALIA_IT_DisconnectTime" type="agcfg:unsignedInt"/>
                            <xs:element name="Security">
                              <xs:complexType>
                                <xs:complexContent>
                                  <xs:extension base="agcfg:simple_object">
                                    <xs:sequence>
                                      <xs:element name="ModeEnabled" type="agcfg:string"/>
                                      <xs:element name="WEPKey" type="agcfg:hexBinary5_5_13_13"/>
                                      <xs:element name="KeyPassphrase" type="agcfg:string63"/>
                                    </xs:sequence>
                                  </xs:extension>
                                </xs:complexContent>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Services">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="agcfg:simple_object">
                <xs:sequence>
                  <xs:element name="VoiceService" minOccurs="0" maxOccurs="unbounded" id="i">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="agcfg:istance_object">
                          <xs:sequence>
                            <xs:element name="VoiceProfile" minOccurs="0" maxOccurs="unbounded" id="i">
                              <xs:complexType>
                                <xs:complexContent>
                                  <xs:extension base="agcfg:istance_object">
                                    <xs:sequence>
                                      <xs:element name="PSTNFailOver" type="agcfg:boolean"/>
                                      <xs:element name="X_TELECOMITALIA_IT_UAMap" minOccurs="0" maxOccurs="unbounded" id="i">
                                        <xs:complexType>
                                          <xs:complexContent>
                                            <xs:extension base="agcfg:istance_object">
                                              <xs:sequence>
                                                <xs:element name="FromUA" type="agcfg:string"/>
                                                <xs:element name="ToVoicePort" type="agcfg:string"/>
                                                <xs:element name="Preassigned" type="agcfg:boolean"/>
                                              </xs:sequence>
                                            </xs:extension>
                                          </xs:complexContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="X_TELECOMITALIA_IT_VoicePortMap" minOccurs="0" maxOccurs="unbounded" id="i">
                                        <xs:complexType>
                                          <xs:complexContent>
                                            <xs:extension base="agcfg:istance_object">
                                              <xs:sequence>
                                                <xs:element name="ToUA" type="agcfg:string"/>
                                                <xs:element name="FromVoicePort" type="agcfg:string"/>
                                                <xs:element name="Priority" type="agcfg:unsignedInt"/>
                                              </xs:sequence>
                                            </xs:extension>
                                          </xs:complexContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:extension>
                                </xs:complexContent>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="PhyInterface" minOccurs="0" maxOccurs="unbounded" id="i">
                              <xs:complexType>
                                <xs:complexContent>
                                  <xs:extension base="agcfg:istance_object">
                                    <xs:sequence>
                                      <xs:element name="X_TELECOMITALIA_IT_SwitchToPSTNIn" type="agcfg:boolean"/>
                                      <xs:element name="X_TELECOMITALIA_IT_SwitchToPSTNOut" type="agcfg:boolean"/>
                                      <xs:element name="X_TELECOMITALIA_IT_POSConfig" type="agcfg:boolean"/>
                                    </xs:sequence>
                                  </xs:extension>
                                </xs:complexContent>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="X_TELECOMITALIA_IT_HandsetUpgrade" minOccurs="0" maxOccurs="unbounded" id="i">
                             <xs:complexType>
                              <xs:complexContent>
                               <xs:extension base="agcfg:simple_object">
                                <xs:sequence>
                                 <xs:element name="State" type="agcfg:string"/>
                                </xs:sequence>
                               </xs:extension>
                              </xs:complexContent>
                             </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

