nandreader/ftdinandreader/_bank_1-noOOB.bin.extracted/squashfs-root/archive/ZW5QAA10.5ZW/active/WWW/docroot_xmlcom/services/xmlcom/requestlist.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<!--the entity declarations may be overridden in the internal subset-->
<!--namespace prefixes-->
<!ENTITY % n1_prefix "n1">
<!--namespace prefix to namespace uri mappings-->
<!ENTITY % n1_prefix.. "%n1_prefix;:">
<!--namespaces attributes for root element-->
<!ENTITY % documentElementAttributes " xmlns:%n1_prefix; CDATA 'http://thomson.net/xmlcom/2'">
<!--the declarations below should not be modified-->
<!--element name mappings-->
<!ENTITY % n1..client "%n1_prefix..;client">
<!ENTITY % n1..requestList "%n1_prefix..;requestList">
<!ENTITY % n1..request "%n1_prefix..;request">
<!ENTITY % n1..mbus "%n1_prefix..;mbus">
<!ENTITY % n1..filesystem "%n1_prefix..;filesystem">
<!ENTITY % n1..session "%n1_prefix..;session">
<!ENTITY % n1..resourcegate "%n1_prefix..;resourcegate">
<!ENTITY % n1..node "%n1_prefix..;node">
<!ENTITY % n1..property "%n1_prefix..;property">
<!ENTITY % n1..oldvalue "%n1_prefix..;oldvalue">
<!ENTITY % n1..value "%n1_prefix..;value">
<!ENTITY % n1..metadata "%n1_prefix..;metadata">
<!ENTITY % n1..status "%n1_prefix..;status">
<!ENTITY % n1..filter "%n1_prefix..;filter">
<!ENTITY % n1..argument "%n1_prefix..;argument">

<!ENTITY % n1..ipaddress "%n1_prefix..;ipaddress">
<!ENTITY % n1..lifetime "%n1_prefix..;lifetime">
<!ENTITY % n1..id "%n1_prefix..;id">

<!--element and attribute declarations-->
<!ELEMENT %n1..client; (%n1..requestList;)>
<!ATTLIST %n1..client;
	token CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..requestList; (%n1..request;)+>
<!ELEMENT %n1..request; ((%n1..mbus;)*, (%n1..filesystem;)*, (%n1..session;)*, (%n1..resourcegate;)*)*>
<!ATTLIST %n1..request;
	id CDATA #IMPLIED
>
<!ELEMENT %n1..mbus; ((%n1..node;)*, (%n1..property;)*, (%n1..status;)*)*>
<!ATTLIST %n1..mbus;
	cmd (GET | SET | ADD | DELETE | SUBSCRIBE | DEFINE) #IMPLIED
	depth NMTOKEN #IMPLIED
	type (PARAMETER | OBJECT | PATH) #IMPLIED
>
<!ELEMENT %n1..filesystem; ((%n1..node;)*, (%n1..property;)*, (%n1..status;)*)*>
<!ATTLIST %n1..filesystem;
	cmd (GET | SET | ADD | DELETE | SUBSCRIBE | MOVE | COPY) #IMPLIED
	depth NMTOKEN #IMPLIED
	type (CONTAINER | OBJECT) #IMPLIED
>
<!ELEMENT %n1..session; ((%n1..property;)*)*>
<!ATTLIST %n1..session;
	cmd (PREAUTH | LOGIN | LOGOUT) #IMPLIED
>
<!ELEMENT %n1..resourcegate; ((%n1..ipaddress;), (%n1..node;), (%n1..lifetime;), (%n1..id;)?)>
<!ATTLIST %n1..resourcegate;
    cmd (PUBLISH | REVOKE) #REQUIRED
>
<!ELEMENT %n1..node; ((%n1..filter;)*, (%n1..node;)*, (%n1..property;)*, (%n1..metadata;)*, (%n1..status;)*)*>
<!ATTLIST %n1..node;
	id CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..property; ((%n1..status;)?, (%n1..metadata;)*, (%n1..oldvalue;)*, (%n1..value;)*)*>
<!ATTLIST %n1..property;
	id CDATA #REQUIRED
	%documentElementAttributes;
>
<!ELEMENT %n1..oldvalue; (#PCDATA)>
<!ELEMENT %n1..value; ANY>
<!ELEMENT %n1..metadata; (%n1..status;, (%n1..value;)*)*>
<!ATTLIST %n1..metadata;
	id CDATA #REQUIRED
	%documentElementAttributes;
>
<!ELEMENT %n1..status; (#PCDATA)>
<!ATTLIST %n1..status;
	code CDATA #REQUIRED
	message CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..filter; ((%n1..argument;, (%n1..argument;)?))>
<!ATTLIST %n1..filter;
	type (EQUAL | REGEXP | GREATER | GREATEREQUAL | LESS | LESSEQUAL | NOTEQUAL) #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..argument; (%n1..node; | %n1..property; | %n1..filter; | %n1..value;)>
<!ATTLIST %n1..value;
	type CDATA #IMPLIED
>
<!ELEMENT %n1..ipaddress; (#PCDATA)>
<!ELEMENT %n1..lifetime; (#PCDATA)>
<!ELEMENT %n1..id; (#PCDATA)>